body{
    background-color: black;
    color: white;
}

header, main, nav, footer{
    text-align: center;
}

nav a{
    padding:15px;
    padding-bottom: 4px;
    font-size: 1.8em;
    text-decoration: none;
    color: white;
}

nav a:hover{
    border-bottom: 2px red solid;
    font-size: 2em;
    transition: .9s;
}

/*#me, #welcomeText{*/
/*    float:left;*/
/*    text-align: left;*/
/*}*/

#me{
    float: left;
}

#foot{
    clear: both;
}
#welcomeText{
    text-align: left;
    /*width:350px;*/
}

footer{
    font-size: .8em;
    color: white;
    clear: left;
}

/*#content{*/
/*    margin-top: 10px;*/
/*}*/

table{
    margin: 0px auto;
}

td{
    padding-right: 10px;
    font-size: 1.3em;
}

td strong{
    color: orange;
}

#table-header{
    background-color: #351a00;
}

.table-row{
    background-color: #753900;
}

ul{
    text-align: left;
    padding-left: 200px;
}

.hobby{
    color:yellow;
}

.name{
    text-decoration: underline orange solid;
}

iframe{
    display:block;
    width:100%;
}

h1{
   font-family: 'Pacifico', cursive;
   font-size: 4em;
   margin-bottom: 0px;
}

